---
# FMT uses a style based on LLVM with some minor modifications.
BasedOnStyle: LLVM
IndentWidth: 4
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
...
